<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        let payeeName
        let payeeAccNum
        function payment(name,account) {
            sessionStorage.setItem("payeeName",name)
            sessionStorage.setItem("payeeAccNum",account)
          window.location.href="http://localhost:8083/web/pay"
    }

// ajax to list payess that belong to a particular customer who logged in
   function showPayee(user) {
       var soapRequest = "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:soap=\"http://soap.app.project.bank\">\n" +
           "<soapenv:Header/>\n" +
           "<soapenv:Body>\n" +
           "<soap:listPayeeRequest>\n" +
           "<soap:username>" + user + "</soap:username>\n" +
           "</soap:listPayeeRequest>\n" +
           "</soapenv:Body>\n" +
           "</soapenv:Envelope>"
           $.ajax({
               url: "http://localhost:8083/listpayee",
               type: "POST",
               dataType: "xml",
//processData: false,
               contentType: "text/xml;charset=\"UTF-8\"",
               data: soapRequest,
               success: (data) => {
                   console.log((new XMLSerializer()).serializeToString(data));
                   $(data).find('ns2\\:payee').each(function () {
                       var payeeId = $(this).find('ns2\\:payeeId').text();
                        payeeName = $(this).find('ns2\\:payeeName').text();
                        payeeAccNum = $(this).find('ns2\\:payeeAccNum').text();
                       var customerId = $(this).find('ns2\\:customerId').text();
                       // var customerId = $(this).find('ns2\\:customerId').text();
                       $("tbody").append("<tr><td>" + payeeId + "</td><td>" + payeeName + "</td><td>" + payeeAccNum + "</td><td>" + customerId + "</td><td><button type='button' class='btn btn-success' onclick=\"payment('"+payeeName+"',"+payeeAccNum+")\"> Pay Now </button></td></tr>");
                   });
               },
               error: () => {
                   alert("error")
               }
           });
           $("#transfer").click(() => {
              sessionStorage.setItem("payeeName",payeeName)
               sessionStorage.setItem("payeeAccNum",payeeAccNum)
               window.location.href = "http://localhost:8083/web/pay"
           })

   }
        $(document).ready(()=>{
            $.ajax({
                url: "http://localhost:8083/rest/username",
                type: "GET",
                success:(data) =>{
                    showPayee(data)
                }
                  //  getUserDetails(data)
                })
            $("#add").click(() => {
                window.location.href="http://localhost:8083/web/add"
            })
            $("#update").click(() => {
                window.location.href="http://localhost:8083/web/update"
            })
            $("#fund").click(() => {
                          console.log("Dashboard invoked")
                           window.location.href="http://localhost:8083/web/pay"
                           })
        })
    </script>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        body{
            background: linear-gradient(45deg,lightgray,lightskyblue);
        }

        td, th {
            border: 1px solid #0b0b0b;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<div th:replace="Landing :: navbar">
</div>


<div class="=container">
    <div class="d-flex text-align:center justify-content-center">
        <img  th:src="@{/images/Alpha_Bank_logo.png}" width="400px" height="100px">
    </div>
    <div class="row">
        <div class="table-responsive mt-3 col-lg-6 ms-3">
            <h2 class="mb-2 text-dark">My payees</h2>
            <table style="width: 90%; height: auto;">
                <thead>
                <tr>
                    <th>Payee ID</th>
                    <th>Payee Name</th>
                    <th>Account Number</th>
                    <th>Customer Id</th>
                    <th>Option</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <button type="button" id="update" class="btn btn-outline-danger m-3">update my Payee</button>
            <button type="button" id="add"  class="btn btn-outline-danger m-3">Add Payee</button>
        </div>

        <div class="col-lg-5 mt-3 me-3">
<!--            marquee beside the payee's table-->
            <div class="card mt-4 h-70">
                <h4 class="background-colour:white text-center rounded-5 m-2 shadow-lg">what's new</h4>
                <marquee direction="up" scrollamount="3">
                    1.Pay your bills online through Bharat Bill Pay System (BBPS)<br>
                    2.Insure yourself and your belongings with our Insurance products online<br>
                    3.Open Demat Account Online<br>
                    4.Apply Equity, SME and Debt IPO's and Rights Issue online<br>
                    5.Apply for Mutual Fund online.<br>
                    6.If Your Email id is not Updated/Verified with us, kindly do that.
                </marquee>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>